- name: Dump database using PostgreSQL 17 Docker
  run: |
    docker run --rm -e PGPASSWORD="$PGPASSWORD" postgres:17 \
      pg_dump -h $PGHOST -p $PGPORT -U $PGUSER -d $PGDATABASE --format=custom > backup.dump
  env:
    PGHOST: ${{ secrets.PGHOST }}
    PGPORT: ${{ secrets/PGPORT }}
    PGUSER: ${{ secrets/PGUSER }}
    PGPASSWORD: ${{ secrets/PGPASSWORD }}
    PGDATABASE: ${{ secrets/PGDATABASE }}
