name: Railway DB Backup  # workflow name

on:
  schedule:
    - cron: "0 3 * * *"  # daily at 3AM UTC
  workflow_dispatch:      # allow manual run

jobs:
  backup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run a test
        run: echo "Hello GitHub Actions"
